/sem2/ADF-II/JAVA2_HW/Assignment_2/nbproject/private/
/sem2/ADF-II/JAVA2_HW/Assignment_2/build/
/sem2/ADF-II/JAVA2_BT/d03_generics/nbproject/private/
/sem2/ADF-II/JAVA2_BT/d03_generics/build/
/sem2/ADF-II/JAVA2_HW/Assignment_3/nbproject/private/
/sem2/ADF-II/JAVA2_BT/d04_io/nbproject/private/
/sem2/ADF-II/JAVA2_BT/d04_io/build/